@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;900&family=Roboto+Slab:wght@100;200&display=swap');

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../assets/swirl.png");
}

h2 {
  font-family: Roboto slab;
  font-weight: 100;
  font-size: 45px;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    font-family: Nunito Sans;
    font-weight: 200;
    text-align: right;
}

/* Style the topnav links */
.topnav a:not(#homeButton){
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover{
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: rgba(50,50,50,0.15);
    margin: 20px;
    padding: 10px;
    color: white;
    font-family: Nunito Sans;
    font-weight: 900;
    font-size: 8px;
    height: auto;
    width: auto;
    text-align: center;
}

.insideContent h2 {
  text align: center;
  font-size:80px;

}

.insideContent h1 {
  font-weight: 100;
  font-size: 40px;
}

.insideContent p {
  font-size: 16px;
  text-align: center;
  font-weight: 100;
  justify-content: center;
}

.viewMoreLink {
  margin: 10px;
}
.viewMoreLink a {
  color: white;
  font-size: 13px;
  font-weight:200;
}

.viewMoreLink a:hover {
  font-style: italic;
  background-color: rgba(0,0,0,.2);
  border: 2px dashed white;
  padding: 5px;
}

.homePiece {
  display: inline;
  float: right;
  padding: 10%;

}

/* Style the footer */
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    font-family: Nunito Sans;
    font-weight: 200;
    text-align: right;
    height: 100px;
    width: 100vw
    position:fixed;
    display: block;
}

.footer p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer img {
  float:right;
  margin-top: 20px;
}

/* About Me or Bio Section */

.content2 {
    background-color: rgba(50,50,50,0.15);
    margin: 20px;
    padding: 10px;
    color: white;
    font-family: Nunito Sans;
    font-weight: 900;
    font-size: 8px;
    height: 75vh;
}

#profilePic {
  float:left;
  display: inline-block;
  border:1px dashed white;
  margin-right: 50px;
}

.contentBody {
  display: inline-block;
  float: left;
  border: 2px solid white;
}

/* Portfolio Section */

.contentPortfolio {
  background-color: rgba(50,50,50,0.15);
  margin: 20px;
  padding:10px;
  color: white;
  font-family: Nunito Sans;
  font-weight: 900;
  font-size: 8px;
  height: 1000px;
  display: grid;
  grid-template-columns: auto auto auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    font-family: Nunito Sans;
    font-weight: 200;
    text-align: right;
    height: 100px;
    width: 100vw;
    margin-top:35vh;
}

.footerPortfolio p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footerPortfolio img {
  float:right;
  margin-top: 20px;
}


/* Contact */

.contentContact {
    background-color: rgba(50,50,50,0.15);
    margin: 20px;
    padding: 10px;
    color: white;
    font-family: Nunito Sans;
    font-weight: 900;
    font-size: 8px;
    height:110vh;
    display: block;
}

.footerPortfolio {
  margin-top: 20px;
}

.contentContact input {
  margin-left: 20px;
}

#contactImg {
  border: 2px solid white;
  align-content: center;
  justify-content: center;
}
